{{#paper-toolbar as |toolbar|}}
   {{#toolbar.tools}}
     {{#paper-button}}
     {{#link-to "trending" class="button"}}
       Home
       {{/link-to}}
     {{/paper-button}}
    {{#paper-button mini=true aria-label="Favorite"}}
    {{#link-to "myfavourite" class="button"}}
      {{paper-icon "favorite"}}
      {{/link-to}}
     {{/paper-button}}
     <h2>MOviE HeRE</h2>
     <span class="flex"></span>
     {{#link-to "search"}}
      {{#paper-button}}
        Search
      {{/paper-button}}
      {{/link-to}}
     
   {{/toolbar.tools}}
 {{/paper-toolbar}}

{{outlet}}